{% extends "base.html" %}
{% block title %}All Profiles{% endblock %}
{% block head %}All Profiles{% endblock %}
{% block content %}
{% if profiles.count > 0 %}
{% for profile in profiles %}
    <div class = 'xyz'>
    <h2><a href="/get/{{ profile.id }}/">{{ profile.name }}</a></h2>
    </div>
{% endfor %}
<div class='making'>
<a href="/report">Create Report</a>
<br/>
<a href="/makePdf">Create PDF</a>
<br/>
<a href="/filters">Apply Filters</a>
</div>
{% else %}

<p>None to show!</p>

{% endif %}    

{% endblock %}
